* {
    font-family: Garamond, serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #774914;
    margin: 0;
}

#welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.p1 {
    color: cyan;
    font-family: "Brush Script MT", cursive;
    font-size: 8vh;
}

#main-menu {
    flex: 2;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

#start-menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.middle-divs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 255, 255, 0.5);
    color: cyan;
    border-radius: 10px;
}

#bottom-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.descriptions {
    color: orange;
    margin-left: 5px;
}