body {
    background-color: #774914;
    display: flex;
    flex-direction: column;
}

#welcome-page {
    background-color: black;
    flex: 1;
}

.main-menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-buttons {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 255, 255, 0.5);
    color: cyan;
}

.bottom-page {
    background-color: black;
    flex: 1;
}