body {
    background-color: var(--clr-bodyBg);
    display: flex; 
    height: 100vh; 
    margin: 0;
}

#promotion-choice {
    visibility: hidden;
}

@media (orientation: portrait) {

body {
    flex-direction: column;
    
    transition: 2s;
}

nav {
    flex: 1;
    order: -1;
    
    flex-direction: row;
}

nav button {
    width: 150px;
}

}
